
SUPPORTED_PLATFORMS = macosx iphoneos iphonesimulator

CODE_SIGN_IDENTITY[sdk=iphone*] = iPhone Developer
CODE_SIGN_IDENTITY[sdk=macosx*] = Mac Developer
CODE_SIGN_STYLE = Automatic

MACOSX_DEPLOYMENT_TARGET   = 10.12
IPHONEOS_DEPLOYMENT_TARGET = 11.0

PRODUCT_MODULE_NAME = $(TARGET_NAME)
PRODUCT_NAME        = $(TARGET_NAME)

ALWAYS_SEARCH_USER_PATHS = NO

SWIFT_VERSION    = 4.1
SKIP_INSTALL     = YES
