
SUPPORTED_PLATFORMS = macosx iphoneos iphonesimulator appletvos appletvsimulator watchos watchsimulator

VALID_ARCHS[sdk=iphone*] = arm64 armv7 armv7s
VALID_ARCHS[sdk=macosx*] = x86_64

LD_RUNPATH_SEARCH_PATHS[sdk=iphone*]  = @executable_path/Frameworks @loader_path/Frameworks
LD_RUNPATH_SEARCH_PATHS[sdk=appletv*] = @executable_path/Frameworks @loader_path/Frameworks
LD_RUNPATH_SEARCH_PATHS[sdk=watch*]   = @executable_path/Frameworks @loader_path/Frameworks
LD_RUNPATH_SEARCH_PATHS[sdk=macosx*]  = @executable_path/../Frameworks @loader_path/Frameworks

MACOSX_DEPLOYMENT_TARGET   = 10.12
IPHONEOS_DEPLOYMENT_TARGET = 11.0
TVOS_DEPLOYMENT_TARGET     =  9.0
WATCHOS_DEPLOYMENT_TARGET  =  3.0

TARGETED_DEVICE_FAMILY = 1,2

SWIFT_VERSION = 4.0

SKIP_INSTALL = YES
