
SUPPORTED_PLATFORMS = macosx iphoneos iphonesimulator

CODE_SIGN_IDENTITY[sdk=iphone*] = iPhone Developer
CODE_SIGN_IDENTITY[sdk=macosx*] = Mac Developer
CODE_SIGN_STYLE = Automatic

PRODUCT_MODULE_NAME = $(TARGET_NAME)
PRODUCT_NAME        = $(TARGET_NAME)

MACOSX_DEPLOYMENT_TARGET   = 10.12
IPHONEOS_DEPLOYMENT_TARGET = 11.0

ALWAYS_SEARCH_USER_PATHS = NO

SWIFT_VERSION    = 4.2
SKIP_INSTALL     = YES
